.action {
    overflow-y: auto;

    ul {
        list-style: none;

        li {
            border-bottom: 1px solid gray;
            margin-right: 50px;

            .check_list_input {
                display: none;
            }

            .check_list_label {
                display: flex;
                align-items: flex-end;
                padding-top: 7px;
                padding-left: 20px;
                cursor: pointer;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                img {
                    width: 40px;
                    height: 40px;
                    border: 1px solid gray;
                    margin-bottom: 2px;
                }

                .name {
                    margin: 0 0 4px 10px;
                }

                .additional {
                    display: block;
                    margin-top: 3px;
                    font-size: 14px;
                    color: rgb(136, 136, 136);
                }

                &:after {
                    content: '';
                    display: inline-block;
                    height: 14px;
                    width: 14px;
                    outline: 1px solid #939598;
                    margin: 0 100px 7px auto;
                }
            }

            .check_list_input:checked + .check_list_label:after {
                outline:1px solid #939598;
                border:2px solid #fff;
                width:10px;
                height:10px;
                background-color:rgb(70, 121, 163);
            }
        }
    }
}