.create {
    margin: 50px auto;
    border: 1px solid grey;
    border-radius: 10px;
    width: 500px;

    h2 {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgb(221, 221, 221);
    }

    .form {
        display: flex;

        .labels {
            text-align: right;
            width: 40%;
            min-width: 200px;
        }

        .label {
            display: inline-block;
            margin-top: 10px;
            color: rgb(80, 80, 80);
            line-height: 24px;
        }

        .inputs {
            text-align: left;
            width: 100%;

            input {
                &:nth-child(7) {
                height: 100px;
                width: 250px;
            }
        }
        }

        .select {
            margin: 10px 0 0 10px;
            line-height: 25px;
            height: 25px;
            width: calc(60% + 5px);
            background: white;
        }
    }

    .buttons {
        width: max-content;
        margin: 20px auto;

        button {
            border: 2px solid rgb(33, 115, 153);
            background: rgb(143, 210, 255);
            margin-right: 60px;
            border-radius: 5px;
            padding: 5px 10px;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
        }

        .cancel {
            border: 2px solid rgb(143, 143, 143);
            background: rgb(211, 211, 211);
        }
    }
}