.select {
    margin: 10px 0 0 10px;
    width: calc(60% + 8px);
    line-height: 24px;
    height: 24px;
    border: 1px solid rgb(66, 150, 189);
    border-radius: 4px;
    color: rgb(49, 49, 49);
    background: #fff;

    &:active, &:focus {
        outline: none;
    }

    &.invalid {
        border: 1px solid red;
        background: rgb(245, 245, 245);
    }

    option {
        background: #fff;
        line-height: 20px;

        &:hover {
            outline: none;
            border: 1px solid red;
            background: green;
        }

        &:active, &:focus {
            outline: none;
        }        
    }
}

.blue_select {

    &:active, &:focus {
        border: 2px solid #2949ff;
    }
}

.create_select {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
}