.select {
    margin: 10px 0 0 10px;
    line-height: 24px;
    height: 24px;
    width: calc(50% + 40px);
    background: white;
    border: 1px solid rgb(66, 150, 189);
    border-radius: 5px;
    color: rgb(49, 49, 49);

    &:active, &:focus {
        outline: none;
    }
}

.invalid {
    border: 2px solid red;
}

.blue_select {

    &:active, &:focus {
        border: 2px solid #2949ff;
    }
}

.create_select {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
}